.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonConnect{
  margin: 20px;
}

.buttonConnect {
  padding:8px;
  margin: 10px;
  border: none;
  width: 80px;
  border-radius: 4px;
  background: #FF9000;
}
