.button{
  height: 30px;
  width: 100%;
  justify-content: center;
  border: none;
  display: flex;
  flex-direction: column;
}

.button button {
  padding:8px;
  margin: 10px;
  border: none;
  width: 80px;
  border-radius: 4px;
  background: #FF9000;
}
